@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ferrari-red: #ff2800;
}

body {
  margin: 0;
  padding: 0;
  background: #050505;
  color: white;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
}

canvas {
  touch-action: none;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #050505;
}
::-webkit-scrollbar-thumb {
  background: var(--ferrari-red);
  border-radius: 10px;
}